/* slider.css */
.slider {
  overflow: hidden;
  /* position: relative; */
}

/* slider.css */
.slide-wrapper {
  display: flex;
  transition: left 0.5s ease; /* Add a smooth transition for the left property */
}


@media (max-width: 767px) {
  #image-container {
    width: 100%;
    height: 80%;
    position: relative;
  }
}